.item {
    background-color: #fff;
    border-radius: 20px;
    padding: 16px;
}

.custom {
    margin: 6px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.content {
    padding: 8px 12px;
    font-size: 16px;
}

.active {
    padding: 8px 12px;
}

.active span {
    font-weight: 600;
    color: green;
}

