.submitPost {
    background-color: #fff;
    border-radius: 20px;
    padding: 16px;
}

.submitPost textarea {
    border-radius: 20px;
}

.submitPost button {
    margin-top: 15px;
    margin-left: 825px;
}
