.following {
    background-color: #fff;
    border-radius: 20px;
}


.followingHeader {
    padding: 12px 12px 6px 12px;
}

.followingHeader h2 {
    margin: 0;
}

.divider {
    margin: 6px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.users {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    height: 292px;
}

.user {
    width: 57px;
    text-align: center;
}

.userName {
    font-weight: 600;
    font-size: 12px;
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}