.content {
    display: grid;
    grid-template-areas:
            "m d";
    grid-template-columns: 8fr 4fr;
    grid-gap: 16px;
    height: 90vh;
    max-height: 90vh;
}

/*chat*/
.chat {
    background-color: #fff;
    grid-area: m;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messages {
    height: 100%;
    max-height: 814px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}

.divider {
    margin: 8px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/*send message bar */
.sendMessage {
    padding: 8px 24px 16px 24px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.sendMessage textarea {
    border-radius: 20px;
    min-width: 465px;
}


/*dialogs bar*/
.dialogs {
    grid-area: d;
    background-color: #fff;
    border-radius: 20px;
}

