.chat {
    display: grid;
    grid-template-areas:
            "m d";
    grid-template-columns: 8fr 4fr;
    grid-gap: 16px;
    height: 92vh;
    max-height: 92vh;
}

.messages {
    grid-area: m;
    border-radius: 20px;
    background-color: #fff;
}

.dialogs {
    grid-area: d;
    background-color: #fff;
    border-radius: 20px;
}

