.dialogItem {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
}

.dialogItem:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.active {
    color: #23a6d5;
}