
.item {
    padding: 15px 10px;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active {
    color: #23a6d5;
}

.item:hover {
    /*border: 1px solid #1982E9FF;*/
    /*background-color: #eee;*/
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.name {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
}

