.user {
    width: 57px;
    text-align: center;
}

.userName {
    font-weight: 600;
    font-size: 12px;
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}