.header {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    min-height: 371px;
}

.cover {
    height: 250px;
    background: url("https://photos.smugmug.com/Wallpapers/i-7Tds9J5/0/9d189a52/X2/HDRshooter-super-ultra-wide-wallpaper-034-X2.jpg") no-repeat center;
}

.inner {
    min-height: 116px;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
/*avatar*/
.avatar {
    position: absolute;
    top: -90px;
    left: 16px;
    z-index: 1;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: #fff 5px solid;
    background-color: #fff;
}
/*avatar*/


.info {
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ownerName {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1.2em;
}

.status textarea {
    border-radius: 12px;
}

.statusText {
    font-size: 17px;
    color: gray;
    cursor: pointer;
}

.fullInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.fullInfo svg {
    fill: #818c99;
}

.infoTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    background-color: #e2e2e2;
    padding: 4px 12px;
    border-radius: 8px;
}